@black: #000;
@white: #fff;

@theme-status: #E0E0E0;
@theme-bar: #F5F5F5;
@theme-background: #FAFAFA;
@theme-dialog: #FFFFFF;

@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

@positive: #4CAF50;
@negative: #F44336;

@import "components/components";